:root {
  --color-dark-1: #202124;
  --color-dark-2: #303239;
  --color-dark-3: #4D515E;
  --color-blue: #4C67B7;
  --color-text-1: #E4E4E7;
  --color-text-2: #C1C1C1;
  --color-link: #8ab4f8;
  --color-modal-dark-bg: #2A2A2A;
}

@font-face {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 400;
  src: local('Be Vietnam'), local('Be-Vietnam'), url('./fonts/BeVietnam-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Be Vietnam", sans-serif;
}

body {
  &.dark {
    background-color: var(--color-dark-1);
    color: var(--color-text-2);
    a {
      color: var(--color-link);
      text-decoration: none;
    }
  }
  &.modal--opened {
    overflow: hidden;
  }
}

.container {
  width: 760px;
  margin: 0 auto;
}